<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vape Store Locator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
        .add-store-form {
            display: none; 
        }
    </style>
</head>
<body>
    <%- include('header') %>

    <div class="container">
        <h1 class="center-align">Vape Store Locator</h1>
        
        <div class="row">
            <button class="add-button" role="button" id="fab">Add </button>
            <div class="add-store-form">
                <form action="/add-store" method="POST" class="col s12" enctype="multipart/form-data">
                    <div class="input-field col s6">
                        <input type="text" id="name" name="name" required>
                        <label for="name">Store Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="address" name="address" required>
                        <label for="address">Address</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="contact_info" name="contact_info" required>
                        <label for="contact_info">Contact Info</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="file" id="image" name="image" accept="image/*" required>
                        <label for="image">Store Image</label>
                    </div>
                    <button type="submit" class="btn">Add Store</button>
                </form>
            </div>
        </div>
        
        <ul class="collection">
            <% stores.forEach(store => { %>
                <li class="collection-item">
                    <strong><a href="/store/<%= store.id %>"><%= store.name %></a></strong><p style="margin: 8px;"><%= store.address %> </p>
                    <% if (store.image) { %>
                        <img class="thumbnail" src="data:image/jpeg;base64,<%= store.image.toString('base64') %>" alt="Store Image">
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>

    <%- include('footer') %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.getElementById('fab').onclick = function() {
            const form = document.querySelector('.add-store-form');
            form.style.display = form.style.display === 'block' ? 'none' : 'block';
        };
    </script>
</body>
</html>
