<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= store.name %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="center-align"><%= store.name %></h1>
        <p><strong>Address:</strong> <%= store.address %></p>
        <h2>Reviews</h2>
        <ul class="collection">
            <% reviews.forEach(review => { %>
                <li class="collection-item">
                  <h3> <%= review.reviewer_name %></h3>
                    <p>Rating: <%= review.rating %></p>
                    <p><%= review.comment %></p>
                </li>
            <% }); %>
        </ul>
        <a href="/" class="btn">Back to Stores</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
